@import "../../style/variable.scss";
.normal-textfield {
  background: #ffffff;
  border-radius: 100px;
  border: none;
  padding: 10px;
  outline: none;
  height: 32px;
  width: 100%;
  font-size: 16px;
}
